*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --light: #e0f5fd;
    --light-blue: #00baf2;
    --dark-blue: #0f4a8a;
    --light-white: #f5f7fa;
    font-family: "Inter", serif;
}

html::-webkit-scrollbar{width: 0.3vw;}
html::-webkit-scrollbar-thumb{border-radius:25px;background-color: var(--light-blue);}
html::-webkit-scrollbar-track{background-color: white;}

body{overflow-x: hidden;}
a{text-decoration: none;color: black;}
li{list-style: none;}
button{outline: none; border: none;}

.stick{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    font-weight: bold;
}

.stick nav{height: 100%;}
.stick nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


button.signIn{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: var(--light-blue);
    padding: 0 5px;
    border-radius: 30px;
}

.signIn div:nth-child(1){
    margin: 0 10px;
}

.signIn .man{
    border-radius: 50%;
}

.head{
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 100px;
    padding: 40px 7% 0 7%;
}

.head .head-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.head .head-container .mode>div{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.head .head-container .mode{
    display: flex;
    align-items: center;
    position: relative;
}
.head .head-container .mode .flight:nth-child(1)::before{
    content: '';
    height: 2px;
    width: 80px;
    background-color: var(--light-blue);
    position: absolute;
    bottom: 0;
}
.head .head-container .LogoTrailer{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .flightBookBox{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 30px;
    width: 100%;
}

.head .flightBookBox .box1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.head .flightBookBox .one-way{font-weight: bold;}
.head .flightBookBox .box1>div{
    display: flex;
}
.head .flightBookBox>div .checkbox{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-blue);
    margin: 0 5px ;
}
.head .flightBookBox .one-way .checkbox::before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--light-blue);
}
.head .flightBookBox .box2{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    gap: 20px;
}

.head .flightBookBox .box2>div{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.head .flightBookBox .box2 >div >div:nth-child(1){
    font-size: 12px;
    color: #474747;
}

.head .flightBookBox .box2> div > div:nth-child(2){
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
.head .flightBookBox .box2> div > div:nth-child(3){
    font-size: 12px;
}
.head .flightBookBox .box2 .bigBox{
    grid-column: span 6;
}
.head .flightBookBox .box2 .BigBox{grid-column: span 5;}

.head .flightBookBox .box2 .smallBox{
    grid-column: span 4;
}

.head .flightBookBox .box2 .MidBox, .head .flightBookBox .box2 button{
    grid-column: span 5;
}

.head .flightBookBox .box3{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    color: #474747;
}

.head .flightBookBox .box2 .return .add-return{
    margin-top: 30px;
    color: var(--light-blue);
    font-size: 18px;
    font-weight: bold;
}

.head .flightBookBox .box2 .return div:nth-child(2){
    font-weight: normal;
    font-size: 12px;
}
.head .flightBookBox .box3 .button{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
}

.head .flightBookBox .box2 .transfer{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-flights{
    background-color: #00baf2;
    color: white;
    height: 50px;
    align-self: center;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
}

.HeadCarousel{
    width: 100%;
    padding: 50px 15px;
    overflow-x: hidden;
    position: relative;
}

.HeadCarousel .container{
    display: flex;
    transition: all 600ms ease-out;
}

.HeadCarousel img{
    width: 400px;
    border-radius: 25px;
    margin: 0 15px;
}

.prev, .next{
    color: var(--light-blue);
    background-color: white;
    font-size: 22px;
    font-size: bold;
    border: 2px solid var(--light-blue);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

.prev{
    top: 50%;
    left: 0;
    display: none;
}

.next{
    top: 50%;
    right: 0;
}

/* /////////////////////////// */
.recharge, .Book{
    padding: 5% 10%;
}

.recharge{background-color: var(--light-blue);}
.Book{background-color: var(--dark-blue);}

.recharge, .recharge a, .Book, .Book a{color: white;}

.recharge h1, .Book h1{
    font-size: 36px;
    margin-bottom: 5vh;
}

.recharge .recharge-grid, .Book .book-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.recharge-box img, .book-box img{
    width: 40%;
    margin-bottom: 20px;
}

.recharge-box a{font-weight: bold; font-size: 0.9em;}
.recharge-box{
    padding: 10px 15px;
    border-radius: 15px;
}
.recharge-box:hover{
    background-color: #087292b5;
}
.book-box{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 5px;
}

.book-box:hover{background-color: #002970cc;}


/* ///////////////////// */
.downloadApp{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadAppGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.downloadApp .left .logo img{width: 75px;}
.downloadApp .right img{width: 100%;}
.downloadApp .left h1{
    font-size: 3.5em;
    margin: 20px 0;
}

.downloadApp .left{
    padding: 0 20% 0 10%;
}

.downloadApp .left p{font-size: 1.2em;}
.download{
    display: flex;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 15px 25px;
    margin: 30px 0;
}
.downloadApp .left i{margin-left: 5px;}

/* ///////////////////// */
.instruments{
    padding: 10%;
    background-color: var(--light-white);
}

.instruments > h1{
    font-size: 4em;
    margin: 40px 0;
}

.instruments .left{
    padding: 0 10%;
}

.instruments .left .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.instruments .left h1{
    font-size: 2.5em;
    margin: 40px 0;
}

.instruments .left >p{
    font-size: 16px;
    color: rgb(21, 21, 21);
    line-height: 1.4em;
}

.instruments .left .logo img{
    width: 80px;
}
.instruments .left .logo div{
    font-weight: bold;
}
.instruments .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.instruments .box{
    background-color: white;
    padding: 5%;
    border-radius: 5px;
}

.instruments #box1{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instruments .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruments .right img{width: 100%;}

.instruments .lower_box .logo{
    width: 200px;
}

.instruments .lower_box{padding: 0% 10%;}
.instruments .lower_box h1{
    margin: 40px 0;
    font-size: 2.5rem;
}

.instruments .lower_box p{
    font-size: 12px;
    color: rgb(118, 118, 118);
}

.instruments .lower_box p span{color: var(--light-blue);}
.instruments .lower_box img{width: 100%;}
.instruments .lower_box > div{
    font-size: 18px;
    line-height: 1.4em;
}

.instruments .lower_box p{
    margin: 5px 0 40px 0;
}

/* //////////////////// */
.insurance, .money{
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.money{
    background-image: url('../imgs/PaytmMoneyBG.avif');
    background-size: cover;
    background-color: #f5f7fa;
}

.insurance .image img{
    width: 90%;
    padding-left: 10%;
}
.money .image img, .financialServices .right img{width: 90%;}
.insurance .logo img, .money .logo img, .financialServices .logo img{width: 200px;}

.insurance .text{
    padding: 5%;
}
.insurance .text h1, .money .text h1, .financialServices h1{
    font-size: 2.5rem;
    margin: 30px 0;
}

.insurance .text p, .money .text p, .financialServices p{
    font-size: 20px;
    margin-bottom: 50px;
}

.learn{
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #002970;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    transition: all 500ms;
}

.learn:hover{
    background-color: var(--light-blue);
}
/* //////////////// */
.financialServices{padding: 10% 0;}
.financialServices .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 12%;
    gap: 10%;
}

.financialServices > h1{
    font-size: 3em;
    margin: 50px 12%;
}


/* /////////////// */
.buisness, .buisnessTools{
    padding: 0 10%;
}
.buisness > h1{
    font-size: 3rem;
    margin: 50px 0;
}

.buisness .box{
    background-color: #f5f7fa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5%;
}

.buisness .box .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
}
 
.buisness .box .left h1{
    font-size: 2rem;
    margin-bottom: 30px;
}

.buisness .box .left p{
    width: 120%;
}

.buisness .learn{
    align-self: flex-start;
    margin: 30px 0;
}
.buisness .learn:hover{color: var(--dark-blue);}
.buisness .box .right img{width: 80%;padding: 10% 0;}
.buisness .box .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ////////////////// */
.buisnessTools > h1{
    font-size: 2rem;
}

.buisnessTools .ToolsGrid img{width: 100%;}

.buisnessTools .ToolsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.buisnessTools h1{
    margin: 30px 0;
    width: 70%;
}

.buisnessTools a{
    font-weight: bold;
    position: relative;
}

.buisnessTools a::before{
    content: '>';
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all 400ms ease;
}

.buisnessTools a:hover::before{
    right: -20px;
    opacity: 1;
}
.buisnessTools p{margin-bottom: 10px;}

/* ///////////////// */
.carouselBox{
    padding: 15%;
    padding-bottom: 0;
}
.carouselBox .box{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
    overflow-x: hidden;
    margin-bottom: 15%;
}
.carouselBox .box .content{width: 200px;}

.carouselBox .box .carousel{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.carouselBox .box .carousel .card{
    width: 150px;
    background-color: #00baf2;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
.carouselBox .box .carousel .card img{
    width: 100%;
    border-radius: 15px;
    opacity: 0.75;
}

.carouselBox .box:nth-child(1) .carousel .card h1{
    font-size: 20px;
    margin: 10px 0;
}
.carouselBox .box .content .logo img{
    width: 120px;
}
.carouselBox .box .content p{margin: 50px 0 20px 0;}
.carouselBox .box .content a{
    color: #00baf2;
}

.carouselBox .box:nth-child(2) .card img{
    width: 70px;
    margin-bottom: 20px;
    text-align: start;
}
.carouselBox .box:nth-child(2) .card{
    padding: 40px 10px;
    text-align: start;
    font-size: 0.7em;
}

/* //////////////// */
footer{
    padding: 5% 8%;
    background-color: #f5f7fa;
}

footer .social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

footer .social-links .left, footer .social-links .right ul{
    display: flex;
    gap: 10px;
}
footer .social-links .right li{margin: 0 10px;}
footer .social-links h1{
    font-size: 18px;
    width: 200px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.line1{
    height: 10px;
    background-color: #00baf2;
}
.line2{
    height: 10px;
    background-color: #002970;
}